
*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}

h1{
    font-size: 18px;
}


body{
    display: flex;
    justify-content: center;
}


    .containerrr {
        margin-top: 2%;
        display: flex;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0px 0px 23px #000000;
        width: 70%;
        height: 35em;
    }

    .containerPricipal{
        display: flex;
        justify-content: center;
        margin-top: 10px;

    }  


    .img1 {
        height: 97%;
        width: 27%;
        overflow: hidden;
    }


    .LogoAdsi{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 80%;
    }


    .logoads img {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 451px;
    }


.INFO {
    margin-top: 15px;
    background-color: rgba(0, 174, 255, 0.767);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.INFO img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height:150px;
    transition: 1.1s;
}


.INFO img:hover{
    margin-bottom: 25px;
    transition: all 0.7s;
    transform: scale(1);
    box-shadow: 1px 1px 25px #fff;
}

.Dairon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divFotter {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divFotter p{
    font-size: 20px;

}


.git img {
    color: #000;
    width: 35px;
    height:35px;
}

.git a {
    color: #000;
}